.idea*

*.xcbkptlist

iAM.xcodeproj/xcuserdata/H8.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

grafika/

iAM.xcodeproj/project.xcworkspace/xcuserdata/H8.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
iAM.plist
tickGrid.plist
tickGrid LTD.plist
tickGrid LTD/*
tickGrid/*

iAM.xcodeproj/xcuserdata/H8.xcuserdatad/xcschemes/*

tickGrid/tickGrid.plist

tickGrid/AMConfig.m

tickGrid LTD/AMConfig.m

iAM/Info.plist
